body {
  background: hotpink;
  color: white;
  text-align: center;
  font-family: Comic Sans MS;
}

h1 {
  text-shadow: 2px 2px black;
}

video {
  width: 300px;
  border: 6px solid cyan;
  border-radius: 20px;
  margin-top: 20px;

  filter:
    contrast(1.2)
    saturate(1.4)
    blur(0.3px);

  transform: scaleX(-1);
}

canvas {
  width: 300px;
  border: 6px solid cyan;
  border-radius: 20px;
  margin-top: 20px;

  filter:
    contrast(1.2)
    saturate(1.4)
    blur(0.3px);
}

button {
  margin-top: 20px;
  padding: 15px;

  background: lime;
  border: none;

  font-size: 20px;
  cursor: pointer;
}

countdown {
  font-size: 80px;
  font-weight: bold;
  color: lime;
  text-shadow: 3px 3px black;
  height: 100px;
  line-height: 100px;
}
